/* CSS declarations go here */
#login-buttons {
    padding: 0px 15px;
}

#login-dropdown-list {
    right: 8px;
    left: inherit;
}

#player-qr-code {
    display: block;
    width: 100%;
    height: auto;
}

.fa-flip-llur-diagonal {
    -webkit-transform: rotate(90deg) scale(-1, 1);
    -ms-transform: rotate(90deg) scale(-1, 1);
    transform: rotate(90deg) scale(-1, 1);
}
