/* CSS declarations go here */
#login-buttons {
    padding: 0px 15px;
}

#login-dropdown-list {
    right: 8px;
    left: inherit;
}

#player-qr-code {
    display: block;
    width: 100%;
    height: auto;
}

.fa-flip-llur-diagonal {
    -webkit-transform: rotate(90deg) scale(-1, 1);
    -ms-transform: rotate(90deg) scale(-1, 1);
    transform: rotate(90deg) scale(-1, 1);
}

/* don't let Bootstrap collapse the navbar */
.navbar-collapse {
    width: auto;
    border-top: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.navbar-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
    visibility: visible !important;
}
.navbar-collapse.in {
    overflow-y: visible;
}
.navbar-fixed-top .navbar-collapse,
.navbar-static-top .navbar-collapse,
.navbar-fixed-bottom .navbar-collapse {
    padding-right: 0;
    padding-left: 0;
}
.navbar-header {
    float: left;
}
.navbar-nav {
    float: left;
    margin: 0;
    min-height: 50px;
}
.navbar-nav > li {
    float: left;
    min-height: 50px;
}
.navbar-text {
    float: left;
    margin-right: 15px;
    margin-left: 15px;
}
.navbar-right {
    float: right !important;
    margin-right: -15px;
}
.navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
}
